/* Global Styling */

body {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(81, 131, 247);
}

main {
  text-align: center;
  display: flex;
}

/* Font styling */
.fontPrimary {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.shoppingContainer {
  width: 50%;
  border: 1px solid black;
  height: 100%;
}

.toDoContainer {
  width: 50%;
}

input {
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
}

.list {
  flex-direction: column;
  list-style-type: none;
}

.newItem {
  height: 40px;
  list-style: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 5px;
  background-color: rgb(179, 230, 255);
  border-radius: 10px;
}

p {
  line-height: 0px;
}

ul {
  padding: 0px;
}

.btn {
  padding: 10px 20px;
  border: none;
  background: yellow;
  border-radius: 10px;
}

/* Button Styling */
.deleteBtn {
  background: red;
  justify-content: flex-end;
}

.sortBtn {
  background: green;
}
.delAllToDoBtn {
  background: red;
}

footer {
  padding: 20px 0px;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
