/* Global Styling */

body {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(81, 131, 247);
}

main {
  text-align: center;
  display: flex;
}

/* Font styling */
.fontPrimary {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
}

/* Strikeout */
.strikeout {
  text-decoration: line-through;
  color: grey;
}

/* Input styling */
.shoppingContainer {
  width: 50%;
  height: 100vh;
  border-left: 1px solid black;
  overflow: hidden;
}

.toDoContainer {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

input {
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  width: 275px;
}

.inline {
  display: inline;
}

.quantity {
  width: 40px;
}
/* List item styling */
.list {
  flex-direction: column;
  list-style-type: none;
}

.newItem {
  height: 40px;
  list-style: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 5px;
  background-color: rgb(179, 230, 255);
  border-radius: 10px;
}

.listItem {
  line-height: 0px;
  cursor: pointer;
}

ul {
  padding: 0px;
}

/* Button Styling */
.btn {
  padding: 10px 20px;
  border: none;
  background: yellow;
  border-radius: 10px;
  cursor: pointer;
}

.deleteBtn {
  background: red;
}

.sortToDo,
.sortShopping {
  background: green;
}

.delAllToDoBtn,
.delAllShoppingBtn {
  background: red;
}

/* Footer styling */
footer {
  position: fixed;
  display: flex;
  bottom: 0px;
  width: 100%;
}

.toDoFooter {
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.shoppingFooter {
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
  bottom: 0px;
  width: 50%;
}
